.events-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background: #171717;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.events-wrapper {
  width: 100%;
  margin: 0 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.events-heading {
  width: 100%;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
}

.past-events {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.see-more {
  margin-top: 60px;
  width: 300px;
  height: 80px;
  border-radius: 50px;
  text-transform: uppercase;
  border: none;
  font-size: 22px;
  font-weight: 700;
  color: black;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.see-more:hover {
  cursor: pointer;
  background-color: #006fee;
  color: white;
}

@media screen and (max-width: 768px) {
  .events-wrapper {
    margin: 0;
    padding: 0px;
  }
  .events-heading {
    margin: 0;
    text-align: left;
    font-size: 32px;
  }

  .events-heading h1 {
    margin-top: 100px;
    margin-left: 50px;
  }
  .see-more {
    display: none;
  }
}
