.about-container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #212121;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.about-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 295px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 200px;
}

.empty-div {
  width: 450px;
  height: 400px;
  display: flex;
  align-items: center;
  border: 1px solid #9353d3;
}

.abt-img-glass {
  padding: 25px;
  background: linear-gradient(
    45deg,
    rgba(147, 83, 211, 0.7) 42%,
    rgba(0, 111, 238, 0.7) 100%
  );
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abt-img-glass img {
  width: 400px;
  height: 300px;
}

.gradient-border {
  background: #1d1f20;
  position: relative;
  border-radius: 0;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * 3px);
  left: calc(-1 * 3px);
  height: calc(100% + 3px * 2);
  width: calc(100% + 3px * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: 3px;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.abt-content-wrapper {
  display: flex;
  flex-direction: column;
}
.abt-heading {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 0;
}

.abt-content-wrapper p {
  margin-top: 0;
  text-align: justify;
  font-weight: 300;
}

.generate-response {
  color: #006fee;
  font-size: 40px;
  margin: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  opacity: 0;
  animation: fade-in 2s ease-in-out; /* Apply the animation */
}

.read-more:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .about-container {
    height: 100%;
  }
  .about-wrapper {
    flex-direction: column;
    margin: 0;
    padding: 25px;
  }
  .abt-content-wrapper {
    margin-bottom: 300px;
  }
  .abt-img-glass {
    width: 200%;
  }
  .empty-div {
    display: none;
  }
  .abt-img-glass img {
    width: 200%;
  }

  .abt-content-wrapper h1 {
    font-size: 20px;
  }

  .abt-content-wrapper {
    width: 100%;
  }
  .abt-content-wrapper p {
    font-size: 14px;
  }
}
