.navbar {
  position: fixed;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  z-index: 9999999;
}
.ham-icon {
  display: none !important;
}
.content-container {
  width: 100%;
  padding: 10px;
  display: flex;
  margin: 0 295px;
  justify-content: space-between;
}

.logo-wrapper img {
  width: 64px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 17px;
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
}

.login-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  font-size: 17px;
  text-transform: capitalize;
  color: white;
  background-color: #006fee;
  gap: 5px;
  transform-origin: right;
  transition: all 0.3s ease-in-out;
}

.login-button img {
  transition: all 0.3s ease-in-out;
  width: 20px;
}

.login-button:hover img {
  transform: translateX(10px);
}

.login-button:hover {
  cursor: pointer;
}

.login-button:hover {
  width: 140px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  padding-bottom: 10px;
  position: relative;
}

.nav-links a:hover {
  text-align: center;
}
.active {
  color: white;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Start the border from the left */
  width: 0; /* Initially, the border has no width */
  height: 3px; /* Adjust the thickness of the border as needed */
  background-color: #006fee; /* Color of the border */
  transition: width 0.3s ease-in-out; /* Transition the width property */
}

.nav-links a:hover::before {
  width: 100%; /* Expand the border to the right */
}

.nav-links a.active::before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .logo-wrapper img {
    width: 50px;
  }
  .nav-links {
    display: none;
    margin-top: 30px;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
  }
  .hidden {
    display: flex !important;
    margin-top: 30px;
    flex-direction: column !important;
    align-items: baseline;
    display: flex;
    gap: 30px;
    font-size: 17px;
  }
  .nav-link {
    border-bottom: 1px solid white;
    width: 100%;
    text-align: left !important;
  }
  .login-wrapper {
    display: none;
  }
  .content-container {
    margin: 0 20px;
    flex-wrap: wrap;
  }
}
